name: Lens publishing to server

on:
  workflow_call:
    inputs:
      tag:
        required: false
        type: string
        description: 'The tag of the release'

env:
  FHIR_SERVER_URL_DEV: ***REMOVED_SECRET_URL***
  FHIR_SERVER_URL_PROD: ***REMOVED_SECRET_URL***

jobs:
  test-lenses:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install -g @gravitate-health/lens-tool-bundler
      - name: Test lens
        run: lens-tool-bundler batch-test ./
  publish-lens:
    needs: test-lenses
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install -g @gravitate-health/lens-tool-bundler
      - name: Upload lens
        run: lens-tool-bundler batch-upload -d ${{ env.FHIR_SERVER_URL_DEV }} ./
  publish-lens-prod:
    needs: test-lenses
    runs-on: ubuntu-latest
    if: ${{ inputs.tag != '' }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: "refs/tags/${{ inputs.tag }}"
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install -g @gravitate-health/lens-tool-bundler
      - name: Upload lens
        run: lens-tool-bundler batch-upload -d ${{ env.FHIR_SERVER_URL_PROD }} ./
 
