name: Lens publishing to server

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string
        description: 'The tag of the release'

env:
  FHIR_SERVER_URL_DEV: ***REMOVED_SECRET_URL***
  FHIR_SERVER_URL_PROD: ***REMOVED_SECRET_URL***
  DELETE_LENS_URL_DEV: ***REMOVED_SECRET_URL***/Library?name:exact=
  DELETE_LENS_URL_PROD: ***REMOVED_SECRET_URL***/Library?name:exact=
jobs:
  semantic-versioning:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        uses: actions/checkout@v2
      - name: Minor version for each merge
        id: taggerFinal
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
  semantic-versioning-dry-run:
    runs-on: ubuntu-latest
    needs: publish-lens
    steps:
      - id: checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: "0"
      - name: Minor version for each merge
        id: taggerDryRun
        uses: anothrNick/github-tag-action@1.36.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          WITH_V: true
          DRY_RUN: true
      - name: Print tags
        run: |
          echo "New tag is: ${{ steps.taggerDryRun.outputs.new_tag }}"
          echo "Current tag is: ${{ steps.taggerDryRun.outputs.tag }}"
          echo "Increment type is: ${{ steps.taggerDryRun.outputs.part }}"
    outputs:
      new-tag: ${{ steps.taggerDryRun.outputs.new_tag }}
      current-tag: ${{ steps.taggerDryRun.outputs.tag }}
      increment-type: ${{ steps.taggerDryRun.outputs.part }}
  publish-lens:
    needs: semantic-versioning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install -g @gravitate-health/fhir-lens-bundler
      - name: Delete existing lens (if exists)
        run: curl -X DELETE ${{env.DELETE_LENS_URL_DEV}}${{github.env.repository.name}}
      - name: Upload lens
        run: fhir-lens-bundler upload ${{github.event.repository.name}}.json -d ${{ env.FHIR_SERVER_URL_DEV }}
  publish-lens-prod:
    needs: semantic-versioning
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          ref: "refs/tags/${{ inputs.tag }}"
      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '20'
      - name: Install dependencies
        run: npm install -g @gravitate-health/fhir-lens-bundler
      - name: Delete existing lens (if exists)
        run: curl -X DELETE ${{env.FHIR_SERVER_URL_PROD}}${{github.env.repository.name}}
      - name: Upload lens
        run: fhir-lens-bundler upload ${{github.event.repository.name}}.json -d ${{ env.FHIR_SERVER_URL_PROD }}
